In [1]:
!date

Thu Oct  4 10:01:20 CST 2018

In [2]:
import os
import os.path as osp

import pandas as pd
import numpy as np

/Users/semio/.pyenv/versions/3.6.2/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [27]:
from ddf_utils.str import to_concept_id

In [3]:
pd.set_option('display.max_rows', 10)

# looking around

Notes:

Indicators in the global indicator framework that repeat are the following:

- 8.4.1/12.2.1
- 8.4.2/12.2.2
- 10.3.1/16.b.1
- 10.6.1/16.8.1
- 15.7.1/15.c.1
- 15.a.1/15.b.1
- 1.5.1/11.5.1/13.1.1
- 1.5.3/11.b.1/13.1.2
- 1.5.4/11.b.2/13.1.3

In [4]:
df = pd.read_csv('../source/DC_ODA_BDVDL.csv')

In [5]:
df

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,FootNote,Nature,Units,[Reporting Type]
0,15.0,15.a,15.a.1,DC_ODA_BDVDL,Total official development assistance for biod...,36.0,Australia,2002.0,11.78529,2002.0,"Creditor Reporting System (CRS) database, 2018...","Commitments; Based on OECD, CRS databased, 201...",NaN,CON_USD,G
1,15.0,15.a,15.a.1,DC_ODA_BDVDL,Total official development assistance for biod...,36.0,Australia,2003.0,0.55788,2003.0,"Creditor Reporting System (CRS) database, 2018...","Commitments; Based on OECD, CRS databased, 201...",NaN,CON_USD,G
2,15.0,15.a,15.a.1,DC_ODA_BDVDL,Total official development assistance for biod...,36.0,Australia,2004.0,0.84451,2004.0,"Creditor Reporting System (CRS) database, 2018...","Commitments; Based on OECD, CRS databased, 201...",NaN,CON_USD,G
3,15.0,15.a,15.a.1,DC_ODA_BDVDL,Total official development assistance for biod...,36.0,Australia,2005.0,15.32823,2005.0,"Creditor Reporting System (CRS) database, 2018...","Commitments; Based on OECD, CRS databased, 201...",NaN,CON_USD,G
4,15.0,15.a,15.a.1,DC_ODA_BDVDL,Total official development assistance for biod...,36.0,Australia,2006.0,66.93870,2006.0,"Creditor Reporting System (CRS) database, 2018...","Commitments; Based on OECD, CRS databased, 201...",NaN,CON_USD,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696,15.0,15.b,15.b.1,DC_ODA_BDVDL,Total official development assistance for biod...,840.0,United States of America,2013.0,1000.56031,2013.0,"Creditor Reporting System (CRS) database, 2018...","Commitments; Based on OECD, CRS databased, 201...",NaN,CON_USD,G
697,15.0,15.b,15.b.1,DC_ODA_BDVDL,Total official development assistance for biod...,840.0,United States of America,2014.0,1262.00359,2014.0,"Creditor Reporting System (CRS) database, 2018...","Commitments; Based on OECD, CRS databased, 201...",NaN,CON_USD,G
698,15.0,15.b,15.b.1,DC_ODA_BDVDL,Total official development assistance for biod...,840.0,United States of America,2015.0,1130.50744,2015.0,"Creditor Reporting System (CRS) database, 2018...","Commitments; Based on OECD, CRS databased, 201...",NaN,CON_USD,G
699,15.0,15.b,15.b.1,DC_ODA_BDVDL,Total official development assistance for biod...,840.0,United States of America,2016.0,790.67005,2016.0,"Creditor Reporting System (CRS) database, 2018...","Commitments; Based on OECD, CRS databased, 201...",NaN,CON_USD,G
700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df.dropna(how='all')

In [7]:
df.shape

(700, 15)

In [13]:
df.Indicator.unique()

array(['15.a.1', '15.b.1'], dtype=object)

In [14]:
df[df.Indicator == '15.a.1'].shape

(350, 15)

In [12]:
def read_source(name):
    return pd.read_csv(f'../source/{name}.csv').dropna(how='all')

In [6]:
df = pd.read_csv('../source/VC_DSR_DADN.csv').dropna(how='all')

In [7]:
df

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,FootNote,Nature,Units,[Reporting Type]
0,1.0,1.5,1.5.1,VC_DSR_DADN,Number damaged dwellings attributed to disaste...,8.0,Albania,2005.0,2051.0,2005.0,UNISDR (2018). Sendai Framework Monitor : Unit...,Disclaimer: the data being submitted by UNISDR...,C,NUMBER,G
1,1.0,1.5,1.5.1,VC_DSR_DADN,Number damaged dwellings attributed to disaste...,8.0,Albania,2006.0,189.0,2006.0,UNISDR (2018). Sendai Framework Monitor : Unit...,Disclaimer: the data being submitted by UNISDR...,C,NUMBER,G
2,1.0,1.5,1.5.1,VC_DSR_DADN,Number damaged dwellings attributed to disaste...,8.0,Albania,2007.0,28.0,2007.0,UNISDR (2018). Sendai Framework Monitor : Unit...,Disclaimer: the data being submitted by UNISDR...,C,NUMBER,G
3,1.0,1.5,1.5.1,VC_DSR_DADN,Number damaged dwellings attributed to disaste...,8.0,Albania,2008.0,14.0,2008.0,UNISDR (2018). Sendai Framework Monitor : Unit...,Disclaimer: the data being submitted by UNISDR...,C,NUMBER,G
4,1.0,1.5,1.5.1,VC_DSR_DADN,Number damaged dwellings attributed to disaste...,8.0,Albania,2009.0,1721.0,2009.0,UNISDR (2018). Sendai Framework Monitor : Unit...,Disclaimer: the data being submitted by UNISDR...,C,NUMBER,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2569,13.0,13.1,13.1.1,VC_DSR_DADN,Number damaged dwellings attributed to disaste...,887.0,Yemen,2006.0,299.0,2006.0,UNISDR (2018). Sendai Framework Monitor : Unit...,Disclaimer: the data being submitted by UNISDR...,C,NUMBER,G
2570,13.0,13.1,13.1.1,VC_DSR_DADN,Number damaged dwellings attributed to disaste...,887.0,Yemen,2007.0,1230.0,2007.0,UNISDR (2018). Sendai Framework Monitor : Unit...,Disclaimer: the data being submitted by UNISDR...,C,NUMBER,G
2571,13.0,13.1,13.1.1,VC_DSR_DADN,Number damaged dwellings attributed to disaste...,887.0,Yemen,2008.0,9880.0,2008.0,UNISDR (2018). Sendai Framework Monitor : Unit...,Disclaimer: the data being submitted by UNISDR...,C,NUMBER,G
2572,13.0,13.1,13.1.1,VC_DSR_DADN,Number damaged dwellings attributed to disaste...,887.0,Yemen,2009.0,34.0,2009.0,UNISDR (2018). Sendai Framework Monitor : Unit...,Disclaimer: the data being submitted by UNISDR...,C,NUMBER,G
2573,13.0,13.1,13.1.1,VC_DSR_DADN,Number damaged dwellings attributed to disaste...,887.0,Yemen,2010.0,187.0,2010.0,UNISDR (2018). Sendai Framework Monitor : Unit...,Disclaimer: the data being submitted by UNISDR...,C,NUMBER,G

In [8]:
df.Indicator.unique()

array(['1.5.1', '11.5.1', '13.1.1'], dtype=object)

In [9]:
df.TimePeriod.hasnans

False

In [10]:
df.Time_Detail.hasnans

False

In [12]:
(df.TimePeriod == df.Time_Detail).all()

True

In [15]:
df_ = df[['GeoAreaCode', 'TimePeriod', 'Value']].copy()

In [16]:
df_.columns = ['country', 'year', 'VC_DSR_DADN'.lower()]

In [19]:
df_

      country    year  vc_dsr_dadn
0         8.0  2005.0       2051.0
1         8.0  2006.0        189.0
2         8.0  2007.0         28.0
3         8.0  2008.0         14.0
4         8.0  2009.0       1721.0
...       ...     ...          ...
2569    887.0  2006.0        299.0
2570    887.0  2007.0       1230.0
2571    887.0  2008.0       9880.0
2572    887.0  2009.0         34.0
2573    887.0  2010.0        187.0

[2574 rows x 3 columns]

In [18]:
df_.to_csv('../../ddf--datapoints--vc_dsr_dadn--by--country--year.csv')

In [41]:
def get_key_columns(df):
    res = ['GeoAreaCode', 'TimePeriod']
    for c in df.columns:
        if c == '[Reporting Type]':
            continue
        if c.startswith('['):
            res.append(c)
            
    return res

In [48]:
def create_entity(concept, vec):
    ids = list(map(to_concept_id, vec))
    return pd.DataFrame({concept: ids, 'name': vec})

In [102]:
entities = {}

In [103]:
problems = set()

for f in os.listdir('../source'):
    if not f.endswith('.csv'):
        continue
    
    name = f[:-4]
    concept = name.lower()
    print(concept)

    df = pd.read_csv(osp.join('../source', f)).dropna(how='all')
    
    key_columns = get_key_columns(df)
    
    # for series that appeared in multiple goals, only keep one.
    if len(df.Indicator.unique()) > 1:
        df = df[df.Indicator == df.Indicator.values[0]]
    
    if df.TimePeriod.hasnans:
        print("TimePeriod contains NaNs")
        problems.add(name)
    
#     if not (df.TimePeriod == df.Time_Detail).all():
#         print("TimePeriod not same as TimeDetail")
#         problems.add(name)

    column_map = {'TimePeriod': 'year', 'GeoAreaCode': 'geo_area'}
    for c in key_columns[2:]:
        column_map[c] = to_concept_id(c)
    column_map['Value'] = concept
        
    df_ = df[[*key_columns, 'Value']].copy()
    
    df_.columns = [column_map[c] for c in df_.columns]
    
    if df_.duplicated(subset=df_.columns[:-1]).any():
        print("duplicated datapoints.")
        print(df.columns)
        problems.add(name)
        
    # entities
    if len(key_columns) > 2:
        for c in df_.columns[2:-1]:
            if c in entities:
                entities[c] = entities[c].append(create_entity(c, df_[c].unique()))
            else:
                entities[c] = create_entity(c, df_[c].unique())
            # convert key columns into concept IDs
            df_[c] = df_[c].map(to_concept_id)
    
    by = '--'.join(df_.columns[:-1])
    
    df_.to_csv(f'../../ddf--datapoints--{concept}--by--{by}.csv', index=False)

ag_fpa_comm
ag_lnd_frst
ag_lnd_frstbiom
ag_lnd_frstbiopha
ag_lnd_frstcert
ag_lnd_frstchg
ag_lnd_frstmgt
ag_lnd_frstn
ag_lnd_frstprct
ag_lnd_totl
ag_prd_fiesmsi
ag_prd_fiesmsin
ag_prd_fiessi
ag_prd_fiessin
ag_prd_ortind
ag_prd_xsubdy
bx_trf_pwkr
dc_fta_total
dc_oda_bdvdl
dc_oda_bdvl
dc_oda_ldcg
dc_oda_ldcs
dc_oda_lldc
dc_oda_lldcg
dc_oda_sids
dc_oda_sidsg
dc_oda_totg
dc_oda_totl
dc_tof_agrl
dc_tof_hlthl
dc_tof_hlthnt
dc_tof_infral
dc_tof_schipsl
dc_tof_trdcmdl
dc_tof_trdcml
dc_tof_trddbmdl
dc_tof_trddbml
dc_tof_washl
dc_trf_tfdv
dc_trf_totdl
dc_trf_totl
dt_tds_dect
eg_egy_clean
eg_egy_prim
eg_elc_accs
eg_fec_rnew
eg_tba_h2co
eg_tba_h2coaq
eg_tba_h2corl
en_atm_co2
en_atm_co2gdp
en_atm_co2mva
en_atm_pm25
en_h2o_grambq
en_h2o_opambq
en_h2o_rvambq
en_h2o_wbambq
en_lnd_slum
en_mat_domcmpc
en_mat_domcmpg
en_mat_domcmpt
en_ref_wascol
en_wbe_ndetot
en_wbe_ndopw
en_wbe_ndqlgrw
en_wbe_ndqlopw
en_wbe_ndqlrvr
en_wbe_ndqltot
en_wbe_ndqtgrw
en_wbe_ndqtopw
en_wbe_ndqtrvr
en_wbe_ndqttot
en_wbe_ndrv
en_wbe_ndwtl
en_wbe_pmnr
en_wbe_pmpn
en_wbe_pmpp
en_wbe_pmpr
er_cbd_absclrhs
er_cbd_nagoya
er_cbd_orspgrfa
er_cbd_ptypgrfa
er_cbd_smta
er_grf_animkpt
er_grf_animrcnt
er_grf_animrcntn
er_grf_animstor
er_grf_animstorn
er_grf_plntstor
er_h2o_fishfexp
er_h2o_fishnfexp
er_h2o_fishovexp
er_h2o_fwtl
er_h2o_iwrmd
er_h2o_iwrmp
er_h2o_partic
er_h2o_prdu
er_h2o_proced
er_h2o_rurp
er_h2o_stress
er_mrn_marin
er_mrn_marint
er_mrn_mpa
er_mtn_grncov
er_mtn_grncvi
er_mtn_totl
er_nrk_lbred
er_nrk_lbredn
er_ptd_frwrt
er_ptd_motn
er_ptd_terrs
er_rde_osex
er_rsk_lbred
er_rsk_lbredn
er_rsk_lsti
er_unk_lbred
er_unk_lbredn
er_wat_part
er_wat_partic
er_wat_prdu
er_wat_proced
fb_atm_totl
fb_bnk_accss
fb_cbk_brch
fc_acc_ssid
gb_pop_scierd
gb_xpd_rsdv
ic_frm_brib
ic_gen_mgtl
ic_gen_mgtn
is_rdp_frgvol
is_rdp_pfvol
is_trp_mailtkm
it_mob_ntwk
it_mob_own
it_net_bbn
it_net_bbp
it_use_ii99
nv_ind_manf
nv_ind_manfpc
nv_ind_ssis
nv_ind_tech
ny_gdp_pcap
sd_xpd_esed
se_acc_comp
se_acc_dwat
se_acc_elec
se_acc_hnwa
se_acc_intn
se_acc_sani
se_adt_acts
se_adt_eductrn
se_adt_funs
se_dev_ontrk
se_gpi_funprof
se_gpi_icts
se_gpi_matach
se_gpi_part
se_gpi_reaach
se_gpi_tratea
se_imp_fpof
se_inf_dsbl
se_lgp_achima
se_lgp_achire
se_mat_prof
se_nap_achima
se_nap_achire
se_pre_gpipartn
se_pre_partn
se_rea_prof
se_sep_funprof
se_sep_matach
se_sep_reaach
se_tra_grdl
se_urp_matach
se_urp_reaach
sg_dsr_legreg
sg_dsr_lgrgsr
sg_dsr_siln
sg_dsr_sils
sg_gen_parl
sg_gen_parln
sg_gen_parlnt
sg_gov_logv
sg_haz_cmrbasel
sg_haz_cmrmntrl
sg_haz_cmrrotdam
sg_haz_cmrstholm
sg_inf_accss
sg_int_mbrdev
sg_int_vrtdev
sg_nhr_impl
sg_nhr_impln
sg_nhr_intexst
sg_nhr_intexstn
sg_nhr_noappln
sg_nhr_nostusn
sg_pln_mstksdg
sg_pln_prpolres
sg_pln_prvndi
sg_pln_prvrictry
sg_pln_prvrimon
sg_pln_recndi
sg_pln_recrictry
sg_pln_recrimon
sg_pln_repolres
sg_reg_brth
sg_reg_brth90
sg_reg_brth90n
sg_reg_census
sg_reg_censusn
sg_reg_deth75
sg_reg_deth75n
sg_stt_capty
sg_stt_fpos
sg_stt_nsdsfddnr
sg_stt_nsdsfdgvt
sg_stt_nsdsfdothr
sg_stt_nsdsfnd
sg_stt_nsdsimpl
sh_aap_asmort
sh_aap_mort
sh_acs_dtp3
sh_acs_mcv2
sh_acs_pcv3
sh_acs_unhc
sh_alc_conspt
sh_dth_ncom
sh_dth_rncom
sh_dyn_imrt
sh_dyn_imrtn
sh_dyn_mort
sh_dyn_mortn
sh_dyn_nmrt
sh_dyn_nmrtn
sh_fpl_infm
sh_fpl_mtmm
sh_h2o_safe
sh_hap_asmort
sh_hap_hbsag
sh_hap_mort
sh_hiv_incd
sh_ihr_capprd
sh_ihr_caps
sh_med_heawor
sh_prv_smok
sh_san_defect
sh_san_hndwsh
sh_san_safe
sh_sta_airp
sh_sta_asairp
sh_sta_brtc
sh_sta_fgms
sh_sta_malr
sh_sta_mmr
sh_sta_ovrwgt
sh_sta_ovrwgtn
sh_sta_poisn
sh_sta_scide
sh_sta_sciden
sh_sta_stunt
sh_sta_stuntn
sh_sta_traf
sh_sta_wash
sh_sta_waste
sh_sta_wasten
sh_tbs_incid
sh_trp_intvn
sh_xpd_earn10
sh_xpd_earn25
si_cov_benfts
si_cov_chld
si_cov_disab
si_cov_lmkt
si_cov_lmktpq
si_cov_matnl
si_cov_pensn
si_cov_poor
si_cov_socast
si_cov_socastpq
si_cov_socins
si_cov_socinspq
si_cov_uemp
si_cov_vuln
si_cov_wkinjry
si_hei_btn40
si_hei_totl
si_pov_day1
si_pov_emp1
si_pov_nahc
si_rmt_cost
sl_dom_tspd
sl_dom_tspdcw
sl_dom_tspddc
sl_emp_aearn
sl_emp_ftlinjur
sl_emp_gtotl
sl_emp_injur
sl_emp_pcap
sl_isv_ifrm
sl_tlf_chldea
sl_tlf_chldec
sl_tlf_manf
sl_tlf_neet
sl_tlf_uem
sn_itk_defc
sp_dyn_adkl
sp_dyn_mrbf15
sp_dyn_mrbf18
tm_tax_atrfd
tm_tax_wwtav
tm_trf_zero
tx_exp_gbmrch
tx_exp_gbsvr
tx_imp_gbmrch
tx_imp_gbsvr
vc_dsr_affct
vc_dsr_aglh
vc_dsr_agln
vc_dsr_bsdn
vc_dsr_cdan
vc_dsr_cdyn
vc_dsr_chln
vc_dsr_ciln
vc_dsr_dadn
vc_dsr_daff
vc_dsr_ddhn
vc_dsr_dydn
vc_dsr_dyhn
vc_dsr_efdn
vc_dsr_esdn
vc_dsr_gdpls
vc_dsr_hfdn
vc_dsr_holh
vc_dsr_holn
vc_dsr_hsdn
vc_dsr_ijiln
vc_dsr_lsgp
vc_dsr_miss
vc_dsr_mmhn
vc_dsr_mort
vc_dsr_mtmn
vc_dsr_mtmp
vc_dsr_obdn
vc_dsr_pdan
vc_dsr_pdln
vc_dsr_pdyn
vc_ihr_psrc
duplicated datapoints.
Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       'Source', 'FootNote', 'Nature', 'Units', '[Reporting Type]'],
      dtype='object')
vc_ihr_psrcn
vc_prs_unsec
vc_vaw_dist
vc_vaw_marr
vc_vaw_mtuhra
vc_vaw_phypyv
vc_vaw_sxvln

In [43]:
data = read_source('tx_imp_gbsvr'.upper())

In [31]:
data[data.duplicated(subset=['GeoAreaName', 'TimePeriod'])]

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,FootNote,Nature,Units,[Reporting Type]
918,16.0,16.1,16.1.1,VC_IHR_PSRC,Number of victims of intentional homicide per ...,826.0,United Kingdom of Great Britain and Northern I...,2010.0,1.20,2010.0,Eurostat,Data in reference to one country but derived f...,C,PER_100000_POP,G
920,16.0,16.1,16.1.1,VC_IHR_PSRC,Number of victims of intentional homicide per ...,826.0,United Kingdom of Great Britain and Northern I...,2011.0,1.01,2011.0,Eurostat,Data in reference to one country but derived f...,C,PER_100000_POP,G
922,16.0,16.1,16.1.1,VC_IHR_PSRC,Number of victims of intentional homicide per ...,826.0,United Kingdom of Great Britain and Northern I...,2012.0,0.98,2012.0,Eurostat,Data in reference to one country but derived f...,C,PER_100000_POP,G
924,16.0,16.1,16.1.1,VC_IHR_PSRC,Number of victims of intentional homicide per ...,826.0,United Kingdom of Great Britain and Northern I...,2013.0,0.93,2013.0,Eurostat,Data in reference to one country but derived f...,C,PER_100000_POP,G
926,16.0,16.1,16.1.1,VC_IHR_PSRC,Number of victims of intentional homicide per ...,826.0,United Kingdom of Great Britain and Northern I...,2014.0,0.91,2014.0,Eurostat,Data in reference to one country but derived f...,C,PER_100000_POP,G

In [38]:
data[(data.GeoAreaCode == 826) & (data.TimePeriod == 2010)].iloc[0].values

array([16.0, 16.1, '16.1.1', 'VC_IHR_PSRC',
       'Number of victims of intentional homicide per 100,000 population (victims per 100,000 population)',
       826.0, 'United Kingdom of Great Britain and Northern Ireland',
       2010.0, 1.19, 2010.0, 'Eurostat',
       'Data in reference to one country but derived from different types of sources should not be compared between them.\n',
       'C', 'PER_100000_POP', 'G'], dtype=object)

In [39]:
data[(data.GeoAreaCode == 826) & (data.TimePeriod == 2010)].iloc[1].values

array([16.0, 16.1, '16.1.1', 'VC_IHR_PSRC',
       'Number of victims of intentional homicide per 100,000 population (victims per 100,000 population)',
       826.0, 'United Kingdom of Great Britain and Northern Ireland',
       2010.0, 1.2, 2010.0, 'Eurostat',
       'Data in reference to one country but derived from different types of sources should not be compared between them.\n',
       'C', 'PER_100000_POP', 'G'], dtype=object)

In [40]:
data[(data.GeoAreaCode == 826) & (data.TimePeriod == 2010)]

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,FootNote,Nature,Units,[Reporting Type]
917,16.0,16.1,16.1.1,VC_IHR_PSRC,Number of victims of intentional homicide per ...,826.0,United Kingdom of Great Britain and Northern I...,2010.0,1.19,2010.0,Eurostat,Data in reference to one country but derived f...,C,PER_100000_POP,G
918,16.0,16.1,16.1.1,VC_IHR_PSRC,Number of victims of intentional homicide per ...,826.0,United Kingdom of Great Britain and Northern I...,2010.0,1.20,2010.0,Eurostat,Data in reference to one country but derived f...,C,PER_100000_POP,G

In [44]:
data = read_source('tx_imp_gbsvr'.upper())

In [46]:
data.TimePeriod.hasnans

False

In [53]:
entities.keys()

dict_keys(['type_of_product', 'age', 'bounds', 'location', 'cities', 'level_status', 'quantile', 'sex', 'mode_of_transportation', 'type_of_mobile_technology', 'type_of_speed', 'education_level', 'type_of_skill', 'name_of_international_institution', 'freq', 'name_of_non_communicable_disease', 'ihr_capacity', 'type_of_occupation', 'migratory_status', 'tariff_regime_status', 'hazard_type'])

In [121]:
for e, d in entities.items():
    d.drop_duplicates().to_csv(f'../../ddf--entities--{e}.csv', index=False)

In [ ]:
# concepts

In [58]:
url = 'https://unstats.un.org/SDGAPI/v1/sdg/Series/List'

In [59]:
import requests as req

In [61]:
j = req.get(url, params={'allreleases': False}).json()

In [62]:
j[:2]

[{'goal': ['15', '15'],
  'target': ['15.a', '15.b'],
  'indicator': ['15.a.1', '15.b.1'],
  'release': '2018.Q4.G.01',
  'code': 'DC_ODA_BDVDL',
  'description': 'Total official development assistance for biodiversity, by donor countries (millions of constant 2016 United States dollars)',
  'uri': '/v1/sdg/Series/DC_ODA_BDVDL'},
 {'goal': ['3'],
  'target': ['3.b'],
  'indicator': ['3.b.2'],
  'release': '2018.Q4.G.01',
  'code': 'DC_TOF_HLTHNT',
  'description': 'Total official development assistance to medical research and basic heath sectors, net disbursement, by recipient countries (millions of constant 2016 United States dollars)',
  'uri': '/v1/sdg/Series/DC_TOF_HLTHNT'}]

In [104]:
cdf = pd.DataFrame.from_records(j)

In [105]:
cdf

,code,description,goal,indicator,release,target,uri
0,DC_ODA_BDVDL,Total official development assistance for biod...,"[15, 15]","[15.a.1, 15.b.1]",2018.Q4.G.01,"[15.a, 15.b]",/v1/sdg/Series/DC_ODA_BDVDL
1,DC_TOF_HLTHNT,Total official development assistance to medic...,[3],[3.b.2],2018.Q4.G.01,[3.b],/v1/sdg/Series/DC_TOF_HLTHNT
2,DC_TOF_INFRAL,"Total official flows for infrastructure, by re...",[9],[9.a.1],2018.Q4.G.01,[9.a],/v1/sdg/Series/DC_TOF_INFRAL
3,DC_TOF_SCHIPSL,"Total official flows for scholarships, by reci...",[4],[4.b.1],2018.Q4.G.01,[4.b],/v1/sdg/Series/DC_TOF_SCHIPSL
4,DC_TOF_TRDCMDL,Total official flows (commitments) for Aid for...,[8],[8.a.1],2018.Q4.G.01,[8.a],/v1/sdg/Series/DC_TOF_TRDCMDL
...,...,...,...,...,...,...,...
350,ER_RDE_OSEX,National ocean science expenditure as a share ...,[14],[14.a.1],2018.Q4.G.01,[14.a],/v1/sdg/Series/ER_RDE_OSEX
351,ER_MRN_MPA,Average proportion of Marine Key Biodiversity ...,[14],[14.5.1],2018.Q4.G.01,[14.5],/v1/sdg/Series/ER_MRN_MPA
352,VC_VAW_DIST,Age and sex distribution of detected victims o...,[16],[16.2.2],2018.Q4.G.01,[16.2],/v1/sdg/Series/VC_VAW_DIST
353,SG_PLN_REPOLRES,Extent of use of country-owned results framewo...,[17],[17.15.1],2018.Q4.G.01,[17.15],/v1/sdg/Series/SG_PLN_REPOLRES
354,SG_PLN_PRPOLRES,Extent of use of country-owned results framewo...,[17],[17.15.1],2018.Q4.G.01,[17.15],/v1/sdg/Series/SG_PLN_PRPOLRES

In [106]:
cdf['concept'] = cdf['code'].map(to_concept_id)

In [107]:
cdf['concept_type'] = 'measure'

In [108]:
cdf = cdf.rename(columns={'code': 'name'})

In [109]:
cdf.columns

Index(['name', 'description', 'goal', 'indicator', 'release', 'target', 'uri',
       'concept', 'concept_type'],
      dtype='object')

In [122]:
cdf = cdf[['concept', 'name', 'concept_type', 'description', 'target', 'goal', 'indicator']]

In [123]:
cdf

,concept,name,concept_type,description,target,goal,indicator
0,dc_oda_bdvdl,DC_ODA_BDVDL,measure,Total official development assistance for biod...,"[15.a, 15.b]","[15, 15]","[15.a.1, 15.b.1]"
1,dc_tof_hlthnt,DC_TOF_HLTHNT,measure,Total official development assistance to medic...,[3.b],[3],[3.b.2]
2,dc_tof_infral,DC_TOF_INFRAL,measure,"Total official flows for infrastructure, by re...",[9.a],[9],[9.a.1]
3,dc_tof_schipsl,DC_TOF_SCHIPSL,measure,"Total official flows for scholarships, by reci...",[4.b],[4],[4.b.1]
4,dc_tof_trdcmdl,DC_TOF_TRDCMDL,measure,Total official flows (commitments) for Aid for...,[8.a],[8],[8.a.1]
...,...,...,...,...,...,...,...
350,er_rde_osex,ER_RDE_OSEX,measure,National ocean science expenditure as a share ...,[14.a],[14],[14.a.1]
351,er_mrn_mpa,ER_MRN_MPA,measure,Average proportion of Marine Key Biodiversity ...,[14.5],[14],[14.5.1]
352,vc_vaw_dist,VC_VAW_DIST,measure,Age and sex distribution of detected victims o...,[16.2],[16],[16.2.2]
353,sg_pln_repolres,SG_PLN_REPOLRES,measure,Extent of use of country-owned results framewo...,[17.15],[17],[17.15.1]
354,sg_pln_prpolres,SG_PLN_PRPOLRES,measure,Extent of use of country-owned results framewo...,[17.15],[17],[17.15.1]

In [124]:
for c in ['goal', 'indicator', 'target']:
    cdf[c] = cdf[c].map(lambda x: ', '.join(x))

In [131]:
cdf['description'] = cdf['description'].map(lambda x: x.replace('\r', ''))

In [132]:
cdf

,concept,name,concept_type,description,target,goal,indicator
0,dc_oda_bdvdl,DC_ODA_BDVDL,measure,Total official development assistance for biod...,"15.a, 15.b","15, 15","15.a.1, 15.b.1"
1,dc_tof_hlthnt,DC_TOF_HLTHNT,measure,Total official development assistance to medic...,3.b,3,3.b.2
2,dc_tof_infral,DC_TOF_INFRAL,measure,"Total official flows for infrastructure, by re...",9.a,9,9.a.1
3,dc_tof_schipsl,DC_TOF_SCHIPSL,measure,"Total official flows for scholarships, by reci...",4.b,4,4.b.1
4,dc_tof_trdcmdl,DC_TOF_TRDCMDL,measure,Total official flows (commitments) for Aid for...,8.a,8,8.a.1
...,...,...,...,...,...,...,...
350,er_rde_osex,ER_RDE_OSEX,measure,National ocean science expenditure as a share ...,14.a,14,14.a.1
351,er_mrn_mpa,ER_MRN_MPA,measure,Average proportion of Marine Key Biodiversity ...,14.5,14,14.5.1
352,vc_vaw_dist,VC_VAW_DIST,measure,Age and sex distribution of detected victims o...,16.2,16,16.2.2
353,sg_pln_repolres,SG_PLN_REPOLRES,measure,Extent of use of country-owned results framewo...,17.15,17,17.15.1
354,sg_pln_prpolres,SG_PLN_PRPOLRES,measure,Extent of use of country-owned results framewo...,17.15,17,17.15.1

In [129]:
cdf.iloc[-20:-10]

,concept,name,concept_type,description,target,goal,indicator
335,en_wbe_pmpp,EN_WBE_PMPP,measure,Water body extent (permanent and maybe permane...,6.6,6,6.6.1
336,en_wbe_pmpn,EN_WBE_PMPN,measure,Water body extent (permanent and maybe permane...,6.6,6,6.6.1
337,en_wbe_ndetot,EN_WBE_NDETOT,measure,Nationally derived total extent (square kilome...,6.6,6,6.6.1
338,en_wbe_ndopw,EN_WBE_NDOPW,measure,Nationally derived extent of open water bodies...,6.6,6,6.6.1
339,en_wbe_ndqlgrw,EN_WBE_NDQLGRW,measure,Nationally derived quality of groundwater (%),6.6,6,6.6.1
340,en_wbe_ndqlopw,EN_WBE_NDQLOPW,measure,Nationally derived quality of open water bodie...,6.6,6,6.6.1
341,en_wbe_ndqlrvr,EN_WBE_NDQLRVR,measure,Nationally derived quality of river\r (%),6.6,6,6.6.1
342,en_wbe_ndqltot,EN_WBE_NDQLTOT,measure,Nationally derived proportion of water bodies ...,6.6,6,6.6.1
343,en_wbe_ndqtgrw,EN_WBE_NDQTGRW,measure,Nationally derived quantity of groundwater (mi...,6.6,6,6.6.1
344,en_wbe_ndqtopw,EN_WBE_NDQTOPW,measure,Nationally derived quantity of open water bodi...,6.6,6,6.6.1

In [133]:
cdf.iloc[-20:-10].description.values

array(['Water body extent (permanent and maybe permanent) (% of total land area)',
       'Water body extent (permanent and maybe permanent) (square kilometres)',
       'Nationally derived total extent (square kilometres)',
       'Nationally derived extent of open water bodies (square kilometres)',
       'Nationally derived quality of groundwater (%)',
       'Nationally derived quality of open water bodies (%)',
       'Nationally derived quality of river (%)',
       'Nationally derived proportion of water bodies with good quality (%)',
       'Nationally derived quantity of groundwater (millions of cubic metres per annum)',
       'Nationally derived quantity of open water bodies (million of cubic metres per annum)'],
      dtype=object)

In [134]:
cdf.to_csv('../../ddf--concepts--continuous.csv', index=False)

In [113]:
cdf2 = pd.DataFrame({'concept': list(entities.keys())})

In [114]:
cdf2

                 concept
0        type_of_product
1                    age
2                 bounds
3               location
4                 cities
..                   ...
16          ihr_capacity
17    type_of_occupation
18      migratory_status
19  tariff_regime_status
20           hazard_type

[21 rows x 1 columns]

In [115]:
cdf2['concept_type'] = 'entity_domain'
cdf2['name'] = cdf2['concept'].map(lambda x: x.replace('_', ' ').title())

In [116]:
cdf2

                 concept   concept_type                  name
0        type_of_product  entity_domain       Type Of Product
1                    age  entity_domain                   Age
2                 bounds  entity_domain                Bounds
3               location  entity_domain              Location
4                 cities  entity_domain                Cities
..                   ...            ...                   ...
16          ihr_capacity  entity_domain          Ihr Capacity
17    type_of_occupation  entity_domain    Type Of Occupation
18      migratory_status  entity_domain      Migratory Status
19  tariff_regime_status  entity_domain  Tariff Regime Status
20           hazard_type  entity_domain           Hazard Type

[21 rows x 3 columns]

In [117]:
cdf3 = pd.DataFrame({'concept': ['country', 'year', 'name', 'description', 'goal', 'indicator', 'target'], 
                     'concept_type': ['entity_domain', 'time', 'string', 'string', 'string', 'string', 'string'], 
                     'name': ['Country', 'Year', 'Name', 'Description', 'Goal', 'Indicator', 'Target']})

In [118]:
cdf3

       concept   concept_type         name
0      country  entity_domain      Country
1         year           time         Year
2         name         string         Name
3  description         string  Description
4         goal         string         Goal
5    indicator         string    Indicator
6       target         string       Target

In [119]:
cdf_ = cdf2.append(cdf3, ignore_index=True)

In [120]:
cdf_.to_csv('../../ddf--concepts--discrete.csv', index=False)

In [ ]:
# geo

In [92]:
url = 'https://unstats.un.org/SDGAPI/v1/sdg/GeoArea/List'

In [93]:
geo = req.get(url)

In [96]:
gdf = pd.DataFrame(geo.json())

In [99]:
gdf.columns = ['geo_area', 'name']

In [101]:
gdf.to_csv('../../ddf--entities--geo_area.csv', index=False)